*.xls
*.xlsx
*.Rhistory
.Rproj.user*
*.log
*.aux
*.gz
FiguresFluSel-concordance.tex
FiguresFluSel-tikzDictionary
GrowthAK
GrowthAKY
FiguresFluSel-tikzDictionary
*.bbl
GrowthAKl
*concordance.tex
*tikzDictionary
*.RData
FiguresFluSel.pdf
*.tikz
mcmcBLUPSA0
